<mat-card class="container">
  <form [formGroup]="connectForm">
    <mat-card-content>
      <mat-form-field >
        <input matInput placeholder="email" (keydown)="onKeydown($event)" formControlName="email" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field >
        <input matInput type="password" placeholder="password" (keydown)="onKeydown($event)" formControlName="password" required>
      </mat-form-field>
    </mat-card-content>
  </form>
  <mat-card-actions class="container">
    <button mat-button (click)="connexion()" [disabled]="!connectForm.valid">
      Valider
    </button>
    <div *ngIf="!logInSuccess">
      Le mot de passe ou l'identifiant est incorrect
    </div>
    <button mat-button (click)="quit()">
      Retour
    </button>
  </mat-card-actions>
</mat-card>
