.container{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  justify-content: center;
}
.container mat-card-content {
  transform: translateX(20%);
}
button[disabled] {
  cursor: not-allowed;
}
