<div class="wrapper">
  <div class="one animation-from-top-2s waves-effect waves-light">
    <button mat-button class = "btn" (click)="unconnect()" >
      Deconexion
    </button>
    <div [hidden]="!showUserContent" style="transition: 1s;">
      <strong>Bonjour {{user.nom}} {{user.prenom}}</strong>
    </div>
  </div>
  <div class="two" [hidden]="!showBooksToUser">
    <mat-card class="borrowed">
      <mat-card-header>
        <label matCardTitle>
          Livres empruntés
        </label>
        <label matCardSubtitle>
          Cliquer sur un livre pour le rendre
        </label>
      </mat-card-header>
      <mat-card-content >
        <app-lec-grid-livre
          [books]="borrowedBooks" (bookClickedEvent)="unborrowBook($event)"></app-lec-grid-livre>
      </mat-card-content>
    </mat-card>


  </div>
  <div class="three animation-from-right-2s" [hidden]="!showBooksToUser">
    <mat-card>
      <mat-card-header>
        <label matCardTitle>
          Livres disponibles dans la bibliothèque
        </label>
        <label matCardSubtitle>
          Cliquer sur un livre pour l'emprunter
        </label>
      </mat-card-header>
      <mat-card-content class="free animation-from-right-2s animation-from-bottom-1s">
          <app-lec-grid-livre
            [books]="books" (bookClickedEvent)="borrowBook($event)"></app-lec-grid-livre>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--
 Div pour le slivres empruntés, div pour les livres dispo
 -->
