.wrapper{
  display: grid;
  grid-template-columns: 20rem 60vw;
  grid-template-rows: 10rem 60vh;
  grid-gap: 10px;
  width: 70%;
  min-width: 200px;
  max-height: 500px;
  margin-right: auto;
  margin-left: auto;
}
.one{
  grid-column: 2;
  grid-row: 1;
  position: relative;
}
.two{
  position: relative;
  grid-column: 1;
  grid-row: 1 / 3;
}
.three{
  grid-column: 2;
  grid-row: 2;
}
.animation-from-bottom-2s
{
  animation-name: slideFromBottom;
  animation-duration: 2s;
}
.animation-from-top-2s
{
  animation-name: slideFromTop;
  animation-duration: 2s;
}
.animation-from-left-2s
{
  animation-name: slideFromLeft;
  animation-duration: 2s;
}
.animation-from-right-2s
{
  animation-name: slideFromRight;
  animation-duration: 2s;
}
.animation-from-bottom-1s
{
  animation-name: slideFromBottom;
  animation-duration: 1s;
}

.animation-from-top-1s
{
  animation-name: slideFromTop;
  animation-duration: 1s;
}
.animation-from-left-1s
{
  animation-name: slideFromLeft;
  animation-duration: 1s;
}
.animation-from-right-1s {
  animation-name: slideFromRight;
  animation-duration: 1s;
}
.btn {
  background: #ff6666;
}
.btn:hover {
  background: #ff4d4d;
}
@keyframes slideFromRight {
  0%   {
    margin-left: 100vh;
  }
  100% {
    margin-left: 0vh;
  }
}
@keyframes slideFromBottom {
  0%   {
    margin-top: 100vh;
  }
  100% {
    margin-top: 0vh;
  }
}
@keyframes slideFromLeft {
  0%   {
    margin-right: 100vh;
  }
  100% {
    margin-right: 0vh;
  }
}
@keyframes slideFromTop {
  0%   {
    margin-bottom: 100vh;
  }
  100% {
    margin-bottom: 0vh;
  }
}
