.livre {
  display: flex;
  background: grey;
  width: 150px;
  height: 200px;
  border-radius: 15%;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 2px solid #212121;
  border-collapse: collapse;
}
.livre:hover {
  transform: scale(1.1);
  filter: blur(0);
  cursor: pointer;
}
.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  height: 60%;
}

