<mat-card class="container">
  <form [formGroup]="signInForm">
    <mat-card-content>
      <mat-form-field >
        <input matInput placeholder="email" formControlName="email" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field >
        <input matInput type="password" placeholder="password" formControlName="password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field >
        <input matInput type="password" placeholder="password confirmation" formControlName="passwordConfirm" required>
      </mat-form-field>
    </mat-card-content>
    <div class="alert alert-danger"
         *ngIf="signInForm.controls.passwordConfirm.errors?.MatchPassword">Les mots de passes sont différents</div>
    <mat-card-content>
      <mat-form-field >
        <input matInput type="text" placeholder="nom" formControlName="nom" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field >
        <input matInput type="text" placeholder="prenom" formControlName="prenom" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-radio-group formControlName="type">
        <mat-radio-button [value]="userRole.lecteur">Lecteur</mat-radio-button>
        <mat-radio-button [value]="userRole.bib">Bibliothécaire</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions class="container">
      <div *ngIf="validateCliked">
        Veuillez patienter
      </div>
      <div *ngIf="userEmailAlreadyUsed">
        Adresse mail déjà utlisée
      </div>
      <button type="submit" mat-button (click)="connexionMethod()" [disabled]="validateCliked || !signInForm.valid">
        Valider
      </button>
      <button mat-button (click)="quit('')">
        Retour
      </button>
    </mat-card-actions>
  </form>
</mat-card>
