.grid-bib {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.bForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-bib > * {
  margin: 1em 0;
}
.add_div{
  width: 100%;
}
.bib {
  width: 250px;
}
.livre{
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
