<div class="header">
  <button mat-button (click)="unconnect()" class="mdl-button mdl-button--colored">
    Deconexion
  </button>
  <p>
    Bonjour {{user.nom}} {{user.prenom}}
  </p>
</div>
<div class = 'add_div' >
  <div class = 'bForm'>
    <button mat-button (click)="showAdd =! showAdd" *ngIf="!showAdd">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div *ngIf="showAdd">
    <mat-card class="livre">
      <div *ngIf="showAdd" class="bForm">
        <button mat-button (click)="add()" [disabled]="!bookForm.valid">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-button (click)="showAdd = false; clear()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <form class="add_book" [formGroup]="bookForm"  (keypress)="keyPressed($event)">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="titre" formControlName="titre">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="auteur" formControlName="auteur">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput type="number" min="-5000" max="2099" placeholder="annee" formControlName="annee">
          </mat-form-field>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
<app-bib-grid-livre
  [booksId]="booksId"
  (bookModify)="bookToModify($event)"
  (bookDelete)="bookToDelete($event)" >
</app-bib-grid-livre>
