.container{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}
.title
.container > * {
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 2rem;
  font-family: Arial;
  height: 4rem;
  width: auto;
  justify-content: center;
}
