<div class="container">
  <mat-card *ngIf="!signIn && !connexion">
    <mat-card-header matCardTitle class="title">
      Bienvenue dans la bibliotheque LYMDA
    </mat-card-header>
    <mat-card-actions align="center">
      <button mat-button *ngIf="!signIn && !connexion" (click)="signIn=!signIn">
        Inscription
      </button>
      <button mat-button *ngIf="!connexion && !signIn" (click)="connexion=!connexion">
        Connexion
      </button>
    </mat-card-actions>
    <mat-card-content>
      <img matCardImage src="https://raw.githubusercontent.com/Infomaniak/exercice-bibliotheque/master/bookcase.jpg"/>
    </mat-card-content>
  </mat-card>
  <app-inscription *ngIf="signIn" (retour)="inscription($event)">
  </app-inscription>
  <app-connect *ngIf="connexion" (retour)="connect($event)">
  </app-connect>
</div>
