<div class = "container">
  <div class="text">
    titre : {{livre.titre}}
  </div>
  <div class="text">
    auteur : {{livre.auteur}}
  </div>
  <div class="text">
    année : {{livre.annee}}
  </div>
</div>
