.text {
  transition: 1s;
  font-family: sans-serif;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 125px;
}
.text:hover {
  overflow: visible;
  white-space: normal;
  margin: auto;
  text-align: center;
}
.container {
  margin: auto;
}
