<mat-card class="livre">
  <button mat-button *ngIf="!modify" (click)=" modify = !modify">
    <mat-icon>create</mat-icon>
  </button>
  <button mat-button *ngIf="!modify" (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button *ngIf="modify" (click)="modifyItem(modify); modify = !modify">
    <mat-icon>save</mat-icon>
  </button>
  <mat-card-content class="p">
    titre :
    <mat-form-field>
      <input matInput [(ngModel)]="livreId.livre.titre" [readonly]="!modify" type="text" [value]="livreId.livre.titre" >
    </mat-form-field>
  </mat-card-content>
  <mat-card-content class="p">
    auteur :
    <mat-form-field>
      <input matInput [(ngModel)]="livreId.livre.auteur" [readonly]="!modify" type="text" [value]="livreId.livre.auteur">
    </mat-form-field>
  </mat-card-content>
  <mat-card-content class="p">
    année :
    <mat-form-field>
      <input matInput [(ngModel)]="livreId.livre.annee"
             min="-5000" max="2099"
             [readonly]="!modify"
             type="number"
             [value]="livreId.livre.annee">
    </mat-form-field>
  </mat-card-content>
  <mat-card-content class="p">
    emprunté par : {{livreId.livre.emprunte}}
  </mat-card-content>
</mat-card>
<!--
<mat-card class="livre">
  <mat-card-content class="p">
    <mat-form-field class="livre">
      titre : <input matInput [ngModel]="livre.titre" #titre [disabled]="!modify">
    </mat-form-field>
    <mat-form-field class="livre">
      auteur <input matInput [ngModel]="livre.auteur" #auteur [disabled]="!modify"><br/>
    </mat-form-field>
    <mat-form-field class="livre">
      annee : <input matInput [type]="number" [ngModel]="livre.annee" #annee [disabled]="!modify"><br/>
    </mat-form-field>
    emprunte par : {{livre.emprunte}}
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!modify" (click)="modify = allowMod && !modify" mat-button>
      <mat-icon  >create</mat-icon>
    </button>
    <button *ngIf="modify" (click)="modify = allowMod && !modify!; update(titre.value, auteur.value, annee.value)" mat-button>
      <mat-icon  >save</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
-->
